.calendar-wrapper {
    position: absolute;
    top: 90px;
    left: 0;
    width: 300px;

    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.15);

    display: none;
    z-index: 200;
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.calendar-header h3 {
    font-size: 16px;
    font-weight: 600;
}

.calendar-header button {
    background: #f0f0f0;
    border: none;
    padding: 6px 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.2s;
}

.calendar-header button:hover {
    background: #e0e0e0;
}

.calendar-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.calendar-table th {
    font-size: 11px;
    color: #777;
    padding-bottom: 8px;
    font-weight: 600;
}

.calendar-table td {
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    color: black;
}

.calendar-table td.empty {
    background: transparent;
    cursor: default;
}

.calendar-table td.day:hover {
    background: #111;
    color: white;
}

.calendar-table td.selected {
    background: #111;
    color: white;
}

.calendar-table td.range {
    background: #dce4ff;
    color: #111;
}