.casilla {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background: white;
}

.casilla p{
    color: black;
    margin: 0 !important;
    padding: 0 imo !important;
}

#calendari {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(7, 40px);
  gap: 5px;
}